---
---

@import "bootswatch/yeti/variables";
@import "bootstrap";
@import "bootswatch/yeti/bootswatch";

@import "navigation";

.navbar-brand {
	font-size: 18px;
}

.jumbotron {
	background-image: url('http://commbocc.github.io/pub_trans_comm/images/jumbo-bg.jpg');
	background-repeat: no-repeat;
	background-position: top center;
	background-size: cover;
	color: #fff;
	text-shadow: 1px 2px #111;

	&, h2 {
		font-family: arial;
	}


}

#carousel-info {
	.carousel-indicators {
		bottom: 45px;
		li {
			border-color: $brand-primary;
		}
		.active {
			background-color: $brand-primary;
		}
	}
}

.news-image {
	position: relative;
	// margin-bottom: -10px;
	background: $brand-primary;

	img, i {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translateX(-50%) translateY(-50%);
		color: #fff;
	}

}
