---
layout: default-no-container
---

<div class="container">

	<div class="row">

		<div class="col-sm-8">

			<div class="jumbotron" style="">
				<h2>Be cautious of illegal transportaiton providers</h2>
				<p>
					Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.
				</p>
				<p><a class="btn btn-warning btn-md" href="{{ '/complaint-form/' | prepend: site.baseurl }}" role="button">File A Complaint</a></p>
			</div>

			<div class="alert alert-info">
				<p>
					<strong>
						We are now offering free notary service for all PTC related items and we now also accept credit or debit cards for new PVDL applications or renewals.
					</strong>
				</p>
			</div>

			<div class="row">
				<div class="col-md-5 col-md-push-7">
					<div class="panel panel-primary">
						<header class="panel-heading">
							<h3 class="panel-title">2016 Vehicle Inspection Schedule</h3>
						</header>
						<div class="panel-body">
							<p>
								Inspections will occur during customer service hours: Monday through Thursday from 8:30 AM to 4:30 PM excluding federal holidays and during inclement weather.
							</p>
						</div>
						{% include inspection-schedule.html %}
						<footer class="panel-footer">
							<em class="small">
								*Note: The PTC will contact each wrecker company to schedule the site inspections.
							</em>
						</footer>
					</div>
				</div>
				<div class="col-md-7 col-md-pull-5">
					{% include carousel-home.html %}
				</div>
			</div>

		</div>

		<div class="col-sm-4">
			{% include sidebar-home.html %}
		</div>

	</div>

</div>
