<div class="panel panel-info">
	<header class="panel-heading">
		<h4 class="panel-title">Meetings & Events</h4>
	</header>
	<div class="list-group">
		<a href="#" class="list-group-item">
			<h5 class="list-group-item-heading">PTC Board Meeting</h5>
			<p class="list-group-item-text">Tuesday, February 16, 2016</p>
		</a>
		<a href="#" class="list-group-item">
			<h5 class="list-group-item-heading">PTC Board Meeting</h5>
			<p class="list-group-item-text">Tuesday, February 16, 2016</p>
		</a>
		<a href="#" class="list-group-item">
			<h5 class="list-group-item-heading">PTC Board Meeting</h5>
			<p class="list-group-item-text">Tuesday, February 16, 2016</p>
		</a>
	</div>
</div>

<!-- <script type="text/javascript" src="//www.calendarwiz.com/calendars/ucfeeder.php?crd=hillsboroughcommunitycalendar&theme=Master%20Theme"></script> -->
