{% include calendar-list.html %}

<p>
	<div class="btn-group btn-block" role="group" aria-label="Agendas">
		<a href="#" class="col-xs-9 btn btn-danger btn-md active">
			Current PTC Agenda
		</a>
		<a href="#" class="col-xs-3 btn btn-danger btn-md" title="Agenda Archive">
			<i class="fa fa-archive"></i>
		</a>
	</div>
</p>
<p>
	<div class="btn-group btn-block" role="group" aria-label="Agendas">
		<a href="#" class="col-xs-9 btn btn-primary btn-md active">
			Latest PTC Minutes
		</a>
		<a href="#" class="col-xs-3 btn btn-primary btn-md" title="Minutes Archive">
			<i class="fa fa-archive"></i>
		</a>
	</div>
</p>
<p>
	<div class="btn-group btn-block" role="group" aria-label="Agendas">
		<a href="#" class="col-xs-9 btn btn-success btn-md active">
			Latest PTC Caption
		</a>
		<a href="#" class="col-xs-3 btn btn-success btn-md" title="Caption Archive">
			<i class="fa fa-archive"></i>
		</a>
	</div>
</p>

<div class="panel panel-default">
	{% include map.html %}
	<div class="list-group">
		<a href="tel:8133506878" class="list-group-item text-center lead" title="Phone">
			<i class="fa fa-fw fa-phone" alt="phone"></i> 813-350-6878
		</a>
		<a href="tel:8133506877" class="list-group-item text-center lead" title="Fax">
			<i class="fa fa-fw fa-fax" alt="fax"></i> 813-350-6877
		</a>
	</div>
</div>
