---
layout: page
title: Additional Information
---

{% for post in paginator.posts limit: nil offset: 0 %}
<div class="media">
	<div class="media-left">
		<a href="{{ post.url | prepend: site.baseurl }}">
			<div class="media-object embed-responsive embed-responsive-16by9 news-image" style="width: 100px;">
				{% if post.image %}
				<img class="img-responsive center-block" src="{% if post.remote_img %}{{ post.image }}{% else %}{{ '/images/posts/' | prepend: site.baseurl }}{{ post.image }}{% endif %}" alt="{{ post.title }}">
				{% else %}
				<i class="fa fa-picture-o"></i>
				{% endif %}
			</div>
		</a>
	</div>
	<div class="media-body">
		<h4 class="media-heading">
			<a href="{{ post.url | prepend: site.baseurl }}">
				{{ post.title }}
			</a>
			<small>
				{{ post.date | date: "%b %-d, %Y" }}
			</small>
		</h4>
		<p>
			{{ post.excerpt }}
		</p>
	</div>
</div>
{% endfor %}

<p class="text-right">
	<a class="btn btn-xs btn-warning" href="{{ "/feed.xml" | prepend: site.baseurl }}">
		Subscribe <i class="fa fa-rss"></i>
	</a>
</p>

<!-- pagination -->
{% if paginator.total_pages > 1 %}
<nav class="text-center">
	<ul class="pagination">
		{% if paginator.previous_page %}
		<li><a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}"><span aria-hidden="true">&laquo;</span><span class="sr-only">Previous</span></a></li>
		{% else %}
		<li class="disabled"><a href="#"><span aria-hidden="true">&laquo;</span><span class="sr-only">Previous</span></a></li>
		{% endif %}

		{% for page in (1..paginator.total_pages) %}
		{% if page == paginator.page %}
		<li class="active"><a href="#">{{ page }} <span class="sr-only">(current)</span></a></li>
		{% elsif page == 1 %}
		<li><a href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', nil }}">{{ page }}</a></li>
		{% else %}
		<li><a href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">{{ page }}</a></li>
		{% endif %}
		{% endfor %}

		{% if paginator.next_page %}
		<li><a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}"><span aria-hidden="true">&raquo;</span><span class="sr-only">Next</span></a></li>
		{% else %}
		<li class="disabled"><a href="#"><span aria-hidden="true">&raquo;</span><span class="sr-only">Next</span></a></li>
		{% endif %}
	</ul>
</nav>
{% endif %}
